

.page-admin-config-sp-spcontactform table tr {
  background-color: #e4e4e4;
}

.page-admin-config-sp-spcontactform table {
  margin: 0;
}
.page-admin-config-sp-spcontactform tbody {
  border: none;
  vertical-align: top;
}
.page-admin-config-sp-spcontactform table table tr td {
  border: none;
  padding: 0px;
}








