.page-admin-config-sp-spwebformsync legend {
  height: auto;
}

.page-admin-config-sp-spwebformsync table tr {
  background-color: #e4e4e4;
}

.page-admin-config-sp-spwebformsync table {
  margin: 0;
}
.page-admin-config-sp-spwebformsync tbody {
  border: none;
  vertical-align: top;
}
.page-admin-config-sp-spwebformsync table table tr td {
  border: none;
  padding: 0px;
}
